# Require reviews Core for changes to configuration, license, etc

.github/ @Unionstation13/maintainer
.vscode/ @Unionstation13/maintainer

.codebeatignore @Unionstation13/maintainer
.editorconfig @Unionstation13/maintainer
.git-blame-ignore-revs @Unionstation13/maintainer
.gitattributes @Unionstation13/maintainer
.gitignore @Unionstation13/maintainer
SpacemanDMM.toml @Unionstation13/maintainer

/docs/ @Unionstation13/maintainer
/tools/ @Unionstation13/maintainer

/LICENSE @Unionstation13/maintainer
/README.md @Unionstation13/maintainer

/code/ @Unionstation13/coders

/icons/ @Unionstation13/creativeworkers @Unionstation13/creativeworkers/artists

/sounds/ @Unionstation13/creativeworkers/music
